@use "./../../scss/variables";
@use "./../../scss//mixins";

.profile {
  display: flex;
  justify-content: center;
  padding: 35px 0px;

  .container {
    display: flex;
  }

  .textDescription {
    width: 500px;

    .title {
      margin: 0;
  
      @include mixins.fontStyle(
        variables.$titleFont,
        variables.$titleSize,
        variables.$fontWeightBold,
        variables.$titleColor
      );
    }
  
    // .text {
    //   line-height: 21px;
    //   margin: 0;

    //   @include mixins.fontStyle(
    //     variables.$textFont,
    //     variables.$normalTextSize,
    //     variables.$fontWeightRegular,
    //     variables.$textColor
    //   );

    //   .link {
    //     text-decoration: none;
    //     color: variables.$themeColor;
    //   }
    // }

    .introduction {
      margin: 40px 0 0 0;
    }

    .bottomInformationBlock {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
    }
  }

  .visualDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .profileCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      height: 215px;
      padding: 35px 25px;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: #ffffff;
      box-shadow: 0px 40px 30px rgba($color: #000000, $alpha: 0.05);

      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
          width: 85px;
          border-radius: 50%;
        }

        .occupation {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          border-radius: 25px;
          position: absolute;
          bottom: -10px;
          background: linear-gradient(135deg, #FF26B2 0%, #851BD9 65%, #3F0FFF 100%);
          box-shadow: 0px 5px 20px rgba($color: #fa7660, $alpha: 0.2);

          @include mixins.fontStyle(
            variables.$titleFont,
            10px,
            variables.$fontWeightRegular,
            #ffffff
          );
        }
      }

      .profileInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          margin: 0;
          justify-self: end;
  
          @include mixins.fontStyle(
            variables.$titleFont,
            16px,
            variables.$fontWeightBold,
            variables.$titleColor,
          );
        }
  
        .location {
          margin: 5px 0 0 0;
  
          @include mixins.fontStyle(
            variables.$textFont,
            14px,
            variables.$fontWeightRegular,
            variables.$textColor
          );
        }
      }
    }

    .technologyIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      .technologyIcon {
        &:nth-child(1) {
          top: 20px;
          left: -230px;
        }

        &:nth-child(2) {
          top: 130px;
          left: 0px;
        }

        &:nth-child(3) {
          top: -40px;
          left: 100px;
        }

        &:nth-child(4) {
          top: -190px;
          left: -180px;
        }

        &:nth-child(5) {
          top: 40px;
          left: 110px;
        }

        &:nth-child(6) {
          top: -180px;
          left: 40px;
        }

        &:nth-child(7) {
          top: -110px;
          left: 160px;
        }

        &:nth-child(8) {
          top: 95px;
          left: -100px;
        }

        &:nth-child(9) {
          top: -80px;
          left: -160px;
        }
      }
    }
  }
}