@use "./../../scss/variables";
@use "./../../scss//mixins";

.portfolio {
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: variables.$laptop) {
    & {
      padding: 0;
    }

    .container {
      flex-wrap: wrap;
      gap: 25px;
    }
  }
}