@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
}

.app {
  .backgroundContainer {
    background: linear-gradient(180deg, #F8F2FF 0%, rgba(250, 250, 250, 0) 100%);
  }
}

.container {
  width: 1080px;
}