$titleColor: #25323d;
$textColor: #5d87a8;
$themeColor: #af48ff;

$titleFont: "Poppins", sans-serif;
$textFont: "Roboto", sans-serif;

$titleSize: 50px;
$pageTitleSize: 20px;
$normalTextSize: 15px;
$smallTextSize: 12px;

$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$laptop: 1200px;
$tablet: 768px;
$mobileM: 480px;
$mobileS: 320px;